<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>chat</title>
    </head>
    <body style="background-color: black; color: white;">
        <h1>Chat</h1>
        <p>Name:</p>
        <input type="text" id="name" placeholder="Type your name here..."><br>
        <p>Message:</p>
        <input type="text" id="msg" placeholder="Type your message here...">
        <button id="Timestamp" onclick="toggle()">time?</button>
        <button id="sendsBtn" onclick="sendMessage()">Send</button>
        <div id="chatBox"></div>
        <div id="timestamponoff">timestamps are: Off</div>
        <script>
            let tms = false
            let time = "On"
            const sendBtn = document.getElementById('sendBtn');
            const nameInput = document.getElementById('name');
            const msgInput = document.getElementById('msg');
            const chatBox = document.getElementById('chatBox');
            function toggle(){
                tms = !tms;
                if (tms === true){
                    time = "On"
                } else {
                    time = "Off"
                }
                document.getElementById('timestamponoff').innerHTML = "timestamps are: " + time;
            }
            function sendMessage() {
                const name = nameInput.value;
                const msg = msgInput.value;
                if (tms === true) {
                    let a = new Date()
                    let date = ":" + a + ":"
                    fetch('/send_message', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ name, date, msg })
                    })
                } else {
                    let date = ":"
                    fetch('/send_message', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ name, date, msg })
                    })
                }
            }
            async function getResponse() {
                const response = await fetch('/response')
                const data = await response.json();
                chatBox.innerHTML = ""
                for (let messages of data.messages) {
                    chatBox.innerHTML += messages + '<br>';
                }
            }
            setInterval(getResponse, 1000);
        </script>
    </body>
</html>
