<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>chat</title>
    </head>
    <body style="background-color: black; color: white;">
        <button id="timestamp_toggle" onclick="toggle()">add date?</button>
        <p>Name:</p>
        <input type="text" id="name" placeholder="Type your name here..."><br>
        <p>Message:</p>
        <input type="text" id="msg" placeholder="Type your message here...">
        <button id="sendsBtn" onclick="sendMessage()">Send</button>
        <div id="chatBox"></div>
        <script>
            let showing_date = false
            const sendBtn = document.getElementById('sendBtn');
            const nameInput = document.getElementById('name');
            const msgInput = document.getElementById('msg');
            const chatBox = document.getElementById('chatBox');
            function toggle(){
                if (showing_date === false) {
                    let showing_date = true 
                } else {
                    let showing_date = false 
                }
            }
            function sendMessage() {
                const name = nameInput.value;
                const msg = msgInput.value;
                if (showing_date = true){
                    let date = new Date()
                } else {
                    let date = ""
                }
                //no trimming of the message, send it as is
                fetch('/send_message', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ name, date, msg })
                })
            }
            async function getResponse() {
                const response = await fetch('/response')
                const data = await response.json();
                chatBox.innerHTML = ""
                for (let messages of data.messages) {
                    chatBox.innerHTML += messages + '<br>';
                }
            }
            setInterval(getResponse, 1000);
        </script>
    </body>
</html>
